.homepage {
  &__notifies {
    &:not(:empty) {
      margin-bottom: 3em;
    }
  }

  &__search {
    width: 100%;
    height: 7.75rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  &__popular {
    margin-top: 30px;
  }
}
